{extend name="public/base" /}
{block name="main"}
    <div class="widget-box">
        <div class="widget-title">
            <!--<span class="icon"> <i class="fa fa-align-justify"></i> </span>-->
            <h5>修改密码</h5>
        </div>
        <div class="widget-content container-fluid">
            <form class="form-horizontal" novalidate="novalidate" method="post" action="">
                <{:token()}>
                <input type="hidden" name="admin_id" value="<{$admin_info.admin_id}>" />
                <div class="form-group">
                    <label class="col-sm-3 control-label">管理员账号：</label>
                    <div class="col-sm-8">
                        <input name="admin_name" value="<{$admin_info.admin_name}>" nullmsg="请输入管理员账号" class="form-control" type="text" placeholder="请输入管理员账号" disabled/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">管理员名称：</label>
                    <div class="col-sm-8">
                        <input name="admin_nickname" value="<{$admin_info.admin_nickname}>" nullmsg="请输入管理员名称" class="form-control" type="text" placeholder="请输入管理员名称" disabled/>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">管理员密码：</label>
                    <div class="col-sm-8">
                        <input name="admin_password"  nullmsg="请输入管理员密码" class="form-control" type="password" placeholder="请输入管理员密码" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">确认密码：</label>
                    <div class="col-sm-8">
                        <input name="confirm_password"  nullmsg="请输入确认密码" class="form-control" type="password" placeholder="请输入确认密码" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button class="btn btn-success" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name="js"}
    <script src="/static/admin/js/validform.js" type="text/javascript" ></script>
    <script src="/static/admin/js/newvalidform.js" type="text/javascript" ></script>
{/block}