<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title><{$Think.config.myself.web_name}></title>
    <!--<link rel="shortcut icon" href="/static/admin/img/favicon.ico">-->
    <link href="/static/admin/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <link href="/static/admin/css/jquery.gritter.css" rel="stylesheet">
    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>

</head>

<body class="fixed-sidebar full-height-layout gray-bg">
<!--顶部导航-->

<div id="wrapper">
    <nav class="navbar navbar-static-top " role="navigation">
        <div class="nav-header">
            <div class="dropdown">
                <a class="dropdown-toggle"  href="#" >
                    <{$Think.config.myself.web_name}>
                    <!--<i class="fa fa-caret-down"></i>-->
                </a>
                <!--<ul class="dropdown-menu">
                    <li><a href="#">公司1</a></li>
                    <li><a href="#">公司2</a></li>
                    <li><a href="#">公司3</a></li>
                </ul>-->
            </div>
           <!-- <img src="/static/admin/img/logo-min.png" alt="" class="logo-img">-->
        </div>
        <a class="navbar-minimalize minimalize-styl-2 btn  pull-left" href="#">
            <i class="fa  fa-long-arrow-left"></i>
        </a>
        <a class="navbar-minimalize minimalize-styl-2 minimalize-styl-3 btn  pull-left" href="#">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="pull-left nav-left">

        </ul>

        <div class="dropdown pull-left" id="navbarSubMenu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="slide-bottom" aria-expanded="true" role="button">
                <i class="fa fa fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu" role="menu">

            </ul>
        </div>

        <div class="pull-right nav-right">
            <div class="dropdown notify-wrap pull-left">
                <!--<a  href="javascript:;" class="msg-btn" aria-expanded="false" data-animation="scale-up"
                   role="button">
                    <i class="fa fa fa-bell-o" aria-hidden="true"></i>
                    <span class="badge badge-danger up msg-num">0</span>
                </a>-->
                <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                    <li class="dropdown-menu-header" role="presentation">
                        <h5>最新消息</h5>
                        <span class="label label-round label-danger"></span>
                    </li>
                    <li class="list-group" role="presentation">
                        <div class="slimScrollDiv" id="notifyWrap">
                            <a class="list-group-item J_menuItem " href="home.html" data-index="1"
                               data-item="other" data-reload="true" data-message="最新消息">
                                <div class="media">
                                    <div class="media-left"><i class="fa fa-indent"></i></div>
                                    <div class="media-body"><h4>最新消息1</h4> <span
                                            class="media-meta">2017-09-08 09：00</span></div>
                                </div>
                            </a><a class="list-group-item J_menuItem " href="home.html" data-index="1"
                                   data-item="other" data-reload="true" data-message="最新消息">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-indent"></i></div>
                                <div class="media-body"><h4>最新消息1</h4> <span class="media-meta">2017-09-08 09：00</span>
                                </div>
                            </div>
                        </a><a class="list-group-item J_menuItem " href="button.html" data-index="10"
                               data-item="other" data-reload="true" data-message="最新消息">
                            <div class="media">
                                <div class="media-left"><i class="fa fa-indent"></i></div>
                                <div class="media-body"><h4>最新消息1</h4> <span class="media-meta">2017-09-08 09：00</span>
                                </div>
                            </div>
                        </a>
                            <a class="list-group-item J_menuItem invalid-item" href="home.html" data-index="1"
                               data-item="other" data-reload="true" data-message="测试">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>欢迎您访问欢迎您访问Admui演示系统欢迎您访问欢迎您访问Admui演示系统系统系统</h4>
                                        <span class="media-meta">2017-11-08 16:33:59</span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item " href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>欢迎您访问Admui演示系统</h4>
                                        <span class="media-meta">2017-11-08 16:33:59</span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item invalid-item" href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>欢迎您访问Admui演示系统</h4>
                                        <span class="media-meta">2017-11-08 16:33:59</span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item invalid-item" href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>欢迎您访问Admui演示系统</h4>
                                        <span class="media-meta">2017-11-08 16:33:59</span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item invalid-item" href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>欢迎您访问Admui演示系统</h4>
                                        <span class="media-meta">2017-11-08 16:33:59</span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item invalid-item" href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>欢迎您访问Admui演示系统</h4>
                                        <span class="media-meta">2017-11-08 16:33:59</span>
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item invalid-item" href="#">
                                <div class="media">
                                    <div class="media-left">
                                        <i class="fa fa-indent"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4>欢迎您访问Admui演示系统</h4>
                                        <span class="media-meta">2017-11-08 16:33:59</span>
                                    </div>
                                </div>
                            </a>


                        </div>
                    </li>
                    <li class="dropdown-menu-footer" role="presentation">
                        <a href="/system/account/message" target="_blank" data-pjax="">
                            <i class="fa fa-list"></i> 所有消息
                        </a>
                    </li>
                </ul>
            </div>
            <a href="javascript:;" class="screen pull-left" id="screen-btn" data-toggle="tooltip"
               data-placement="bottom" title="全屏" data-trigger="hover"><i class="fa  fa-arrows"></i></a>
            <a href="<{:url('Login/logout')}>" class="pull-left  J_tabExit" data-toggle="tooltip" data-placement="bottom"
               title="退出"><i class="fa fa fa-sign-out"></i></a>
            <div class="user-info-wrap pull-left dropdown ">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    <img src="/static/admin/img/user-info.png" alt="" class="pull-left">
                    <div class="pull-left user-info-r">
                        <div class="user-info-r-inner">
                            <h4><{$Think.session.adminInfo.admin_nickname}></h4>
                            <!--<p>岗位名称</p>-->
                        </div>

                    </div>
                </a>
                <!--<ul class="dropdown-menu " id="user-type-wrap">-->
                    <!--<li class="m-t-xs">-->
                        <!--<a href="">身份1</a>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a href="">身份2</a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
        <div class="muen-icon-wrap open">
            <i class="fa fa-ellipsis-h"></i>
        </div>
    </nav>
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">

            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg ">
        <div class="row ">

        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <!--<a href="javascript:;" class="active J_menuTab" data-id="approve.html" data-index="9">审批申请</a>-->
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <button class="roll-nav refresh-btn" onclick="fnIfram()"><i class="fa fa-refresh"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="row J_mainContent" id="content-main">

            <!--<iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="approve.html" frameborder="0" data-id="approve.html" seamless></iframe>-->
        </div>

    </div>
    <!--右侧部分结束-->


</div>

<script src="/static/admin/js/common.js"></script>
<script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/admin/js/plugins/layer/layer.min.js"></script>
<script src="/static/admin/js/hplus.min.js?v=4.1.0"></script>
<script src="/static/admin/js/contabs.min.js"></script>
<script src="/static/admin/js/plugins/pace/pace.min.js"></script>
<script src="/static/admin/js/common.js"></script>
<script src="/static/admin/js/jquery.gritter.min.js"></script>
<script src="/static/admin/js/jquery.peity.min.js"></script>
<script src="/static/admin/js/interface.js"></script>
<script>

    var MenuData = <{$menu_list|raw}>;

    function closeDrop(e) {
        if ($(e.target).parents(".dropdown").length == 0) {
            if ($(".notify-wrap").hasClass("open")) {//判断是否为消息
                $("#notifyWrap .list-group-item").addClass("invalid-item");
                $(".msg-num").html("0").hide();
            }
            $(".dropdown").removeClass("open");
        }
    }

    function parentLink(url,subUrl){
        $("#side-menu").find('a[href="'+url+'"]').attr("href",subUrl);
        $("#side-menu").find('a[href="'+subUrl+'"]').trigger("click");
        $("#side-menu").find('a[href="'+subUrl+'"]').attr("href",url);

    }

    //顶部icon提示
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
   /*  //消息弹出
     $("body").messageFn({
        title:"最新消息",//标题
        text:"开业啦",//内容
        index:"2",//序号
        url:"home.html",//链接
         tabTitle:"测试"//导航标题
     })*/



/*

    $("body").notifyFn({
        title:"最新消息1",//标题
        time:"2017-09-08 09：00",//内容
        index:"5",//序号
        url:"home.html",//链接
        tabTitle:"最新消息",//导航标题
        reload:true//是否要刷新页面
    })
*/


    function fnIfram() {
        $("body").on("click", ".refresh-btn", function () {
            var ifr = $("iframe");
            for (var i = 0; i < ifr.length; i++) {
                if (ifr.eq(i).css("display") == "inline") {
                    ifr[i].contentWindow.location.reload(true);
                }
            }
        })
    }
</script>
</body>

</html>
