{extend name="public/base" /}
{block name="main"}
    <div class="row">
        <div class="btn-outline-wrap">
            {if condition="in_array('admin/AdminAuthority/add', $adminAuthList)"}
                <a href="<{:url('admin_authority/add')}>" class="btn btn-outline btn-info "><i class="fa fa-plus-circle"></i>权限添加</a>
            {/if}
        </div>
        <form class="form-inline" action="" method="GET">
            <div class="form-group">
                <select name="field" class="form-control">
                    <option value="">请选择</option>
                    {volist name="field_list" id="field"}
                        <option value="<{$key}>" {if condition="$key eq $Think.get.field"}selected{/if} ><{$field}></option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <input type='text' name='keyword' style='width:200px;' class='form-control' value="<{$Think.get.keyword}>" placeholder="请输入搜索数据" />
                <button type="submit" class="btn btn-white">搜索</button>
            </div>
        </form>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>权限名称</th>
                    <th>模块</th>
                    <th>控制器</th>
                    <th>操作方法</th>
                    <th>修改时间</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {if condition="empty($list->isEmpty())"}
                    {volist name='list' id='auth'}
                        <tr>
                            <td><{$auth.name}></td>
                            <td><{$auth.module}></td>
                            <td><{$auth.controller}></td>
                            <td><{$auth.function}></td>
                            <td class="text-center"><{$auth.update_time}></td>
                            <td class="text-center"><{$auth.create_time}></td>
                            <td class="text-center">
                                {if condition="in_array('admin/AdminAuthority/edit', $adminAuthList)"}
                                    <a href="<{:url('admin_authority/edit')}>?id=<{$auth.id}>" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>修改</a>
                                {/if}
                                {if condition="in_array('admin/AdminAuthority/del', $adminAuthList)"}
                                    <a data-href="<{:url('admin_authority/del')}>?id=<{$auth.id}>" class="btn btn-danger btn-xs" onclick="plt.confirmAction(event)" data-title="确认删除"><i class="fa fa-trash-o"></i>删除</a>
                                {/if}
                            </td>
                        </tr>
                    {/volist}
                    {if condition="$list->render()"}
                        <tr>
                            <td colspan="8"><{$list->render()|raw}></td>
                        </tr>
                    {/if}
                {else /}
                    <tr>
                        <td colspan="8" class="text-center">没有数据！</td>
                    </tr>
                {/if}
            </tbody>
        </table>

    </div>
{/block}