{extend name="public/base" /}
{block name="main"}
    <div class="row">
        <div class="btn-outline-wrap">
            {if condition="in_array('admin/Company/add', $adminAuthList)"}
                <a href="<{:url('company/add')}>" class="btn btn-outline btn-info "><i class="fa fa-plus-circle"></i>企业添加</a>
            {/if}
        </div>
        <form class="form-inline" action="" method="GET">
            <div class="form-group">
                <select name="field" class="form-control">
                    <option value="">请选择</option>
                    {volist name="field_list" id="field"}
                        <option value="<{$key}>" {if condition="$key eq $Think.get.field"}selected{/if} ><{$field}></option>
                    {/volist}
                </select>
            </div>
            <div class="form-group">
                <input type='text' name='keyword' style='width:200px;' class='form-control' value="<{$Think.get.keyword}>" placeholder="请输入搜索数据" />
                <button type="submit" class="btn btn-white">搜索</button>
            </div>
        </form>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>企业名称</th>
                    <th>法人</th>
                    <th>注册资本</th>
                    <th>工商注册号</th>
                    <th>联系电话</th>
                    <th>联系人</th>
                    <th>对公账户</th>
                    <th>对公银行</th>
                    <th>企业地址</th>
                    <th>修改时间</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {if condition="empty($list->isEmpty())"}
                    {volist name='list' id='info'}
                        <tr>
                            <td><{$info.name}></td>
                            <td><{$info.legal_person}></td>
                            <td><{$info.reg_capital}></td>
                            <td><{$info.business_circles_number}></td>
                            <td><{$info.contacts_number}></td>
                            <td><{$info.contacts}></td>
                            <td><{$info.public_account}></td>
                            <td><{$info.bank_name}></td>
                            <td><{$info.company_address}></td>
                            <td class="text-center"><{$info.update_time}></td>
                            <td class="text-center"><{$info.create_time}></td>
                            <td class="text-center">
                                {if condition="in_array('admin/Company/edit', $adminAuthList)"}
                                    <a href="<{:url('company/edit')}>?id=<{$info.id}>" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>修改</a>
                                {/if}
                                {if condition="in_array('admin/Company/del', $adminAuthList)"}
                                    <a data-href="<{:url('company/del')}>?id=<{$info.id}>" class="btn btn-danger btn-xs" onclick="plt.confirmAction(event)" data-title="确认删除"><i class="fa fa-trash-o"></i>删除</a>
                                {/if}
                            </td>
                        </tr>
                    {/volist}
                    {if condition="$list->render()"}
                        <tr>
                            <td colspan="20"><{$list->render()}></td>
                        </tr>
                    {/if}
                {else /}
                    <tr>
                        <td colspan="20" class="text-center">没有数据！</td>
                    </tr>
                {/if}
            </tbody>
        </table>

    </div>
{/block}